.notification {
    width: 350px;
    height: 100px;
    padding: 10px;
    background-color: rgb(153, 37, 37);
    border-radius: 0 0 12px 12px;
    z-index: 1;

    position: fixed;
    top: 0;
    right: 50%;
    transform: translateX(50%);

    .close {
        width: 12px;
        height: 12px;
        background-color: black;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
    }
}

