.userlist {
    background-color: #202123;
    position: relative;
    width: 150px;
    height: 100vh;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  margin: 0 10px 5px 10px;
  width: auto;
  height: 45px;
  color: #959ba4;
  opacity: 0;
  transform: translateX(-100%);

    &__active {
      color: #dddee1;
      background: #3b3d43;
      border-radius: 5px;
    }

    &:hover {
      color: #dddee1;
      background: #3b3d43;
      border-radius: 5px;
  }
}

.conversations {
    width: 100%;
    max-width: 260px;
    height: 100vh;
    overflow-y: scroll;
    background: #2f3136;

    ::placeholder {
      color: #959ba4;
    }

    .elementsContainer {
      display: flex;
      align-items: center;
      padding: 10px;
      margin: 0 10px 5px 10px;
      cursor: pointer;
  
      &:hover {
        background: #3b3d43;
        border-radius: 5px;
        color: #dbdee1;
      }

    p {
      color: #959ba4;
    }
  }

  .dmtitle {
    font-weight: 500;
    opacity: 0.4;
    font-size: 0.8em;
    margin-top: 20px;
    color: #959ba4;
    padding: 0 0 10px 18px;

    &:hover {
      color: #dbdee1;
    }
  }
}
  
  .conversationsContainer {
    padding: 10px;
  }
  
  .conversationListTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #27282b;
    padding: 10px;
    z-index: 10;
    width: 100%;
    background: #2f3136;
    margin-bottom: 8px;
  }
  
  .svgContainer {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
  
  .svg {
    width: 25px;
    filter: invert(1);
    opacity: 0.6;
    cursor: pointer;
  }