.input {
    all: unset;
    // background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 15px;
    width: 80%;
    margin: 20px auto;
    
    &:focus {
        border: 3px solid #2516c7;
    }

}

.chatInputContainer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 20px 0;
  }
  
  .chatInputWrapper {
    width: 83%;
    margin-left: 35px;
    height: 44px;
    background: #40444b;
    padding: 0 15px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        color: 0.2em;
        outline: none;
        background-color: transparent;
        border: none;
        color: white;
    }
  }
  
  .chatInput {
    width: 100%;
    background: transparent;
    border: none;
    padding: 10px;
    color: #fff;
    outline: none;
    margin-top: 3px;
    resize: none;
    height: 90%;
  }

.svgContainer {
    margin-right: 15px;
    display: flex;
    align-items: center;
  }
  
  .svg {
    width: 25px;
    filter: invert(1);
    opacity: 0.6;
    cursor: pointer;
  }