.user {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    height: 45px;
    transition: background-color ease 0.5s;
    color: white;
    opacity: 0;
    transform: translateX(-100%);

    &__active {
        background-color: rgb(179, 179, 179);
    }

    .notification {
        width: 15px;
        height: 15px;
        background-color: red;
        border-radius: 50%;
    }
}