@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,*::before,*::after {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1b1722;
}

h1 {
    color: lightsteelblue;
    font-size: 3em;
}