.bg {
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.form_group {
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #303338;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 350px;
    transition: 0.5s;
    animation: fadeAndSlideIn 0.5s cubic-bezier(.19,.85,0,1.1), fadeOut 0.3s ease-in-out;

    @keyframes fadeAndSlideIn {
        0% {
            transform: translateY(-60%) translateX(-50%);
        }
        100% {
            transform: translateY(-50%) translateX(-50%);
        }
      }
      
      @keyframes fadeOut {
        0% {
          opacity: 0.5;
        }
        100% {
          opacity: 1;
        }
      }

    .form_login {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 10px;
        label {
            color: #b5bac0;
            font-weight: 600;
            font-size: 0.7em;

            span{
                color: #d03e41;
            }
        }
    }

    .form_left {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        color: #a2a7ad;
    
        .form {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            padding: 30px;
        }
    
        h1 {
            font-size: 1.5em;
            margin-top: 20px;
            color: white;
            font-weight: 500;
        }
    
        p {
            font-size: 1em;
        }
    
        .button {
            background-color: #5865f2;
            cursor: pointer;
            color: #ffffff;
            width: 100%;
            height: 68px;
            border-radius: 5px;
            border: none;
            font-size: 1em;
            transition: 0.2s;

            &:hover {
                background-color: #4752c4;
            }
        }
    
        input {
            border-radius: 5px;
            user-select: none;
            font-size: 1rem;
            width: 100%;
            padding: 0 10px;
            height: 40px;
            color: #ffffff;
            border: none;
            background-color: #1f2124;

            &:focus {
                outline: none;
            }

            &::placeholder {
                top: 5px;
            }
        }
    }
    
    .form_right {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    
        h1 {
            font-size: 1.5em;
            font-weight: 700;
            color: #ffffff;
            text-align: center;
        }
    
        p {
            font-size: .95rem;
            color: #a2a7ad;
            margin-top: 10px;
            text-align: center;
            span {
                font-weight: 600;
            }
        }

        .image_loaded {
            width: 180px;
            height: 180px;
            object-fit: cover;
            border-radius: 5px;
          }
    
        .qrcode {
            max-width: 180px;
            max-height: 180px;
            border-radius: 5px;
        }
    }
}

@media only screen and (max-width: 800px) {
    .form_group {
        width: 400px;
        transition: 0.5s;

        .form_left {
            width: 100%;
        }

        .form_right {
            display: none;
        }
    }
}