.title {
    -webkit-text-stroke: 2px green;
    font-size: 20px;
}

.error {
    -webkit-text-stroke: 2px red;
    font-size: 60px;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    height: 100vh;

    h1 {
        color: transparent;
    }

    p {
        text-transform: uppercase;
    }

    img {
        width: 70px;
        height: auto;
    }

    .inputContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input[type="text"] {
            all: unset;
            background-color: white;
            border: 2px solid black;
            border-radius: 10px;
            padding: 5px 15px;
        
            &:focus {
                border: 3px solid #2516c7;
            }
    }
}