.main {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-height: 300px;
    position: fixed;
    margin: auto;
    max-width: 350px;
    font-family: 'Poppins', sans-serif;
}

.title {
    color: white;
    font-size: 20px;
}

.error {
    color: red;
    font-size: 60px;
}

.text {
    color: white;
}

.enter {
    border-radius: 10px;
    width: 400px;
    height: 40px;
}