

.message {
    padding: 5px 0;

    &__self {
        text-align: right;
        transform: translateX(100px);
    }
}

.messageCard {
    margin-top: 20px;
    padding: 4px 0 2px 20px;
    display: flex;

    &:hover {
      background-color: #2f3035;
    }
  }

  .messageAvatarContainer {
    margin-right: 20px;
  }
  
  .messageAvatar {
    border-radius: 100px;
    width: 40px;
    height: 40px;
  }

  .messageDetails {
    display: flex;
    align-items: center;
  }

  .sender {
    color: white;
    margin-right: 10px;
    margin-bottom: 3px;
  }
  
  .timestamp {
    opacity: 0.4;
  }
  
  .messageText {
    color: #c1c1c1;
    // font-weight: 100;
    max-width: 800px;
  }